* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

nav {
    position: fixed;
    height: 100vh;
    width: 320px;
    background: #FFC20D;
    border-radius: 0px 60px 60px 0px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 32px;
}

.user-button i {
    margin-right: 10px;
}

.user-button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

.training-button {
    margin-top: 84px;
}

.training-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 82px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.risk-button {
    margin-top: 84px;
}

.risk-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.settings-button {
    margin-top: 84px;
}

.settings-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 92px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.logoff-button {
    position: absolute;
    cursor: pointer;
    background-color: #FFF;
    color: #FF0000;
    font-size: 16px;
    font-family: 'Montserrat', monospace;
    font-weight: bold;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 82px;
    left: 28px;
    bottom: 50px;
}

.logoff-button a {
    text-decoration: none;
    color: #FF0000;
    font-size: 16px;
    font-weight: bolder;
}

.container {
    padding-top: 36px;
    padding-left: 400px;
}

.workplace-description {
    margin-top: 20px;
    font-size: 16px;
}

.trainings-management {
    margin-top: 58px;
}

.trainings-management ul {
    margin-top: 28px;
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 900px;
    max-height: 200px;
    overflow-y: scroll;
}

.trainings-management li {
    padding: 16px 12px;
    font-size: 16px;
}

.training-controls {
    margin-top: 20px;
}

.training-controls input[type=submit] {
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #FFC20D;
    font-size: 16px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    padding: 20px 35px;
}

.training-controls input[type=file] {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.contact-section {
    width: 625px;
    margin-top: 30px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-box label {
    font-size: 16px;
    margin-bottom: 4px;
}

.input-box input[type=text] {
    border-radius: 20px;
    border: 2px solid #FFC20D;
    padding: 15px 20px;
}

.contact-section button {
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #FFC20D;
    font-size: 16px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    padding: 20px 35px;
    margin-top: 20px;
}