* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
}

nav {
    position: fixed;
    height: 100vh;
    width: 320px;
    background: #FFC20D;
    border-radius: 0px 60px 60px 0px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 32px;
}

.user-button i {
    margin-right: 10px;
}

.user-button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

.user-button a:hover {
    text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.37);
}

.create-workplace-button {
    margin-top: 84px;
}

.create-workplace-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.logoff-button {
    position: absolute;
    cursor: pointer;
    background-color: #FFF;
    color: #FF0000;
    font-size: 16px;
    font-family: 'Montserrat', monospace;
    font-weight: bold;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 90px;
    left: 28px;
    bottom: 50px;
}

.logoff-button a {
    text-decoration: none;
    color: #FF0000;
    font-size: 16px;
    font-weight: bolder;
}

.container {
    padding-top: 36px;
    padding-left: 400px;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    margin-top: 34px;
}

form {
    display: flex;
    flex-direction: column;
    width: 425px;
    margin-top: 22px;
}

input[type=text] {
    border: 2px solid #FFC20D;
    border-radius: 14px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat', monospace;
    margin-bottom: 15px;
}

form button {
    cursor: pointer;
    background-color: #FFC20D;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Montserrat', monospace;
    font-weight: bold;
    padding: 20px 30px;
    width: fit-content;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

form button:hover {
    background-color: #f0b400;
}

#message {
    font-weight: bold;
}