* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
}

nav {
    position: fixed;
    height: 100vh;
    width: 320px;
    background: #FFC20D;
    border-radius: 0px 60px 60px 0px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 32px;
}

.user-button i {
    margin-right: 10px;
}

.user-button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

.create-workplace-button {
    margin-top: 84px;
}

.create-workplace-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.logoff-button {
    position: absolute;
    cursor: pointer;
    background-color: #FFF;
    color: #FF0000;
    font-size: 16px;
    font-family: 'Montserrat', monospace;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 90px;
    left: 28px;
    bottom: 50px;
}

.logoff-button a {
    text-decoration: none;
    color: #FF0000;
    font-size: 16px;
    font-weight: bolder;
}

.container {
    padding-top: 36px;
    padding-left: 400px;
}

/* ÇALIŞMA ALANLARIM ALANI */

.workplace-management {
    margin-top: 58px;
}

.workplace-management h2 {
    font-size: 20px;
}

.workplace-management ul {
    margin-top: 28px;
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 900px;
    max-height: 200px;
    overflow-y: scroll;
}

.workplace-management li {
    padding: 16px 12px;
    font-size: 16px;
}

.bottom-menu {
    margin-top: 40px;
}

.bottom-menu {
    display: flex;
}

/* TO-DO LIST ALANI */
.todolist-management {
    margin-right: 50px;
}

.todolist-management h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.todolist-management ul {
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: scroll;
    height: 204px;
    max-height: 204px;
    width: 416px;
}

.todolist-management li {
    padding: 16px 12px;
    font-size: 16px;
}

.todolist-controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.todolist-controls input[type=text] {
    border-radius: 20px;
    border: 2px solid #FFC20D;
    font-size: 16px;
    padding: 15px 20px;
}

.todolist-buttons {
    display: flex;
    margin-top: 16px;
}

.todolist-controls button {
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #FFC20D;
    font-size: 16px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    padding: 20px 35px;
    width: 114px;
    margin-right: 20px;
}

.todolist-controls .clear {
    color: red;
    background-color: white;
    padding: 20px 30px;
}

/* NOTLARIM ALANI */
.notes {
    display: flex;
    flex-direction: column;
}

.notes h2 {
    font-size: 20px;
    margin-bottom: 18px;
}

.notes textarea {
    width: 416px;
    height: 204px;
    resize: none;
    background-color: #FFEDB7;
    border-radius: 20px;
    border: none;
    padding: 28px 38px;
    font-size: 16px;
}

.notes button {
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #FFC20D;
    font-size: 16px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    margin-top: 20px;
}