* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

nav {
    position: fixed;
    height: 100vh;
    width: 320px;
    background: #FFC20D;
    border-radius: 0px 60px 60px 0px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 32px;
}

.user-button i {
    margin-right: 10px;
}

.user-button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

.training-button {
    margin-top: 84px;
}

.training-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 82px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.risk-button {
    margin-top: 84px;
}

.risk-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.workplace-select {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 28px;
}

.workplace-select label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.workplace-select select {
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    padding: 20px 16px 20px 16px;
    width: 275px;
}

.logoff-button {
    position: absolute;
    cursor: pointer;
    background-color: #FFF;
    color: #FF0000;
    font-size: 16px;
    font-family: 'Montserrat', monospace;
    font-weight: bold;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 90px;
    left: 28px;
    bottom: 50px;
}

.logoff-button a {
    text-decoration: none;
    color: #FF0000;
    font-size: 16px;
    font-weight: bolder;
}

.container {
    padding-top: 36px;
    padding-left: 400px;
}

table {
    border-collapse: collapse;
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFC20D;
}

.vertical {
    writing-mode: vertical-lr;
}

button {
    cursor: pointer;
    background: #FFC20D;
    font-family: 'Montserrat', monospace;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 60px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}